<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>

    <style>

        h1 { 

            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight:  900;
        }

    </style>

</head>
<body>

    <h1>GESTION INVENTARIO</h1>

    <h2>Buscar Articulo</h2>

    <h4>Introduce el nombre del articulo que desees buscar</h4>

    <form action="/encontrar/" method="get">

        <input type="text" name="art">

        <input type="submit" value="Buscar">

    </form>
    
</body>
</html>