<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontrar</title>

    <style>

        li { 
            
            background-color: aquamarine;
        }

    </style>

</head>
<body>
    <h2>Los articulos encontradas con el nombre de {{introducido}} fueron {{encontrado|length}}</h2>

    <ul>

        {% for i in encontrado %}

            <li>{{i}}</li>

        {% endfor %}

    </ul>
</body>
</html>